{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/app/src/index.css",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2
}
